.chart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.legend {
  display: flex;
  gap: 1rem;
}

.legendItem {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.legendLabel {
  font-size: 0.75rem;
  line-height: 1;
}

.bar {
  background-color: var(--color-accent-background);
  border-radius: 0.25rem;
  height: 0.5rem;
  min-width: 4rem;
}

.bar.company {
  background-color: hsl(from var(--color-accent-background) h s l / 0.5);
}

.valueLabel {
  line-height: 1;
}

.valueBars {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
}
