.recentMeeting {
  align-items: center;
  background-color: var(--color-input-background);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.75rem;
  height: 4rem;
  padding: 0.75rem 14px;
  place-content: center;
}

.recentMeeting > :first-child {
  flex-grow: 1;
}

.name {
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 0.75rem;
  line-height: 1;
  white-space: nowrap;
  margin-top: 0.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attendeesList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
