@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Emerald theme */
  --color-background-theme-emerald: hsl(166, 91%, 9%);
  --color-foreground-theme-emerald: hsl(151.8, 81%, 95.9%);
  --color-accent-background-theme-emerald: hsl(30.7, 97.2%, 65%);
  --color-accent-foreground-theme-emerald: hsl(30.7, 97.2%, 10%);
  --color-danger-background-theme-emerald: hsl(349.7, 89.2%, 60.2%);
  --color-danger-foreground-theme-emerald: hsl(355.7, 100%, 97.3%);
  --color-success-background-theme-emerald: hsl(142.1, 70.6%, 45.3%);
  --color-card-background-theme-emerald: hsl(164, 86%, 16%);
  --color-input-background-theme-emerald: hsl(162.9, 93.5%, 24.3%);
  --color-input-background-hover-theme-emerald: hsl(161.4, 93.5%, 30.4%);

  /* Pro theme */
  --color-background-theme-pro: hsl(0, 0%, 3.9%);
  --color-foreground-theme-pro: hsl(0, 0%, 89.8%);
  --color-accent-background-theme-pro: hsl(0, 0%, 89.8%);
  --color-accent-foreground-theme-pro: hsl(0, 0%, 3.9%);
  --color-danger-background-theme-pro: hsl(0, 72.2%, 50.6%);
  --color-danger-foreground-theme-pro: hsl(355.7, 100%, 97.3%);
  --color-success-background-theme-pro: hsl(142.1, 70.6%, 45.3%);
  --color-card-background-theme-pro: hsl(0, 0%, 9%);
  --color-input-background-theme-pro: hsl(0, 0%, 14.9%);
  --color-input-background-hover-theme-pro: hsl(0, 0%, 25.1%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme='pro'] {
  --color-background: var(--color-background-theme-pro);
  --color-foreground: var(--color-foreground-theme-pro);
  --color-accent-background: var(--color-accent-background-theme-pro);
  --color-accent-foreground: var(--color-accent-foreground-theme-pro);
  --color-danger-background: var(--color-danger-background-theme-pro);
  --color-danger-foreground: var(--color-danger-foreground-theme-pro);
  --color-success-background: var(--color-success-background-theme-pro);
  --color-card-background: var(--color-card-background-theme-pro);
  --color-input-background: var(--color-input-background-theme-pro);
  --color-input-background-hover: var(--color-input-background-hover-theme-pro);
}

:root[data-theme='emerald'] {
  --color-background: var(--color-background-theme-emerald);
  --color-foreground: var(--color-foreground-theme-emerald);
  --color-accent-background: var(--color-accent-background-theme-emerald);
  --color-accent-foreground: var(--color-accent-foreground-theme-emerald);
  --color-danger-background: var(--color-danger-background-theme-emerald);
  --color-danger-foreground: var(--color-danger-foreground-theme-emerald);
  --color-success-background: var(--color-success-background-theme-emerald);
  --color-card-background: var(--color-card-background-theme-emerald);
  --color-input-background: var(--color-input-background-theme-emerald);
  --color-input-background-hover: var(
    --color-input-background-hover-theme-emerald
  );
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  scrollbar-width: none;
}
