.section {
  padding: 0 4vmin;
  max-width: 128rem;
  width: 100%;
}

.hero {
  /* @apply flex-col-reverse lg:flex-row; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4vmin;
  justify-content: space-evenly;
  padding: 0 1rem;
  text-align: center;
}

/* .section:nth-child(2n) .hero {
  background: linear-gradient(
    135deg,
    var(--color-card-background),
    hsl(from var(--color-card-background) h s l / 0.5)
  );
}

.section:nth-child(2n) .imagePlaceholder {
  background: linear-gradient(
    135deg,
    var(--color-input-background),
    hsl(from var(--color-input-background) h s l / 0.5)
  );
}

.section:nth-child(4) .hero {
  @apply flex-col lg:flex-row;
}

.section:nth-child(2n + 1) .imagePlaceholder {
  background: linear-gradient(
    135deg,
    var(--color-card-background),
    hsl(from var(--color-card-background) h s l / 0.5)
  );
} */

.hero h1 {
  font-family: var(--font-rowdies);
  font-size: calc(2rem + 4vmin);
  line-height: 1.2;
}

.hero p {
  font-size: calc(0.8rem + 0.8vmin);
}

.imagePlaceholder {
  border-radius: 1rem;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.content {
  align-items: start;
  display: grid;
  gap: 4vmin;
  grid-template-columns: 1fr;
  max-width: 128rem;
  padding: 0 4vmin;
  width: 100%;
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
